.Title{

}

dialog{
    border-radius: 10px;
}

.book-form{
    display: grid;
    grid-template-columns: 1fr;
}

.buton{
    background-color: red;
    color: red;
}

#bookGrid{
    display: flex;
        flex-wrap: wrap;
    justify-content: space-around;
}

.book {
    border-radius: 7px;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    
}

.margin{
    margin: 5px;
}

.bang{
    margin-bottom: 30px;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 70px;
    width: 100%;
    background-color: antiquewhite;
    -webkit-box-shadow: 10px 10px 34px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 34px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 34px 0px rgba(0, 0, 0, 0.75);
}